<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-button expand="full" (click)="openPage('action-sheet')">Action Sheet</ion-button>
<ion-button expand="full" (click)="openPage('component-alert')">Componente Alert</ion-button>
<ion-button expand="full" (click)="openPage('component-badges')">Componente Badge</ion-button>
<ion-button expand="full" (click)="openPage('component-button')">Componente Button</ion-button>
<ion-button expand="full" (click)="openPage('component-card')">Componente Card</ion-button>


</ion-content>
